%h1 Most popular wishes

-@wishes.each do |wish|
  %h2= wish.name
  %p= wish.content
  = link_to 'Show', wish
  = link_to 'Edit', edit_wish_path(wish)
  = link_to 'Destroy', wish, :confirm => 'Are you sure?', :method => :delete 
  
.pagination
  = will_paginate @wishes 


= link_to 'New Wish', new_wish_path 
