<%= link_to vote_char(@wish), add_vote_issue_wish_path(@wish.issue, @wish) %>

<p>
  <b>Name:</b>
  <%= @wish.name %>
</p>

<p>
  <b>Content:</b>
  <%= @wish.content %>
</p>

<p>
  <b>User:</b>
  <%= @wish.user.email %>
</p>


<%= link_to 'Edit', edit_issue_wish_path(@wish.issue, @wish) %> |
<%= link_to 'Back', issue_wishes_path %>
<%= link_to 'Destroy', [@wish.issue, @wish], :confirm => 'Are you sure?', :method => :delete %>
