<%= link_to vote_char(@wish), add_vote_wish_path(@wish) %>

<p>
  <b>Name:</b>
  <%= @wish.name %>
</p>

<p>
  <b>Content:</b>
  <%= @wish.content %>
</p>

<p>
  <b>User:</b>
  <%= @wish.user.email %>
</p>


<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
<%= link_to 'Destroy', @wish, :confirm => 'Are you sure?', :method => :delete %>
