<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @issue.name %>
</p>

<p>
  <b>Description:</b>
  <%= @issue.description %>
</p>

<p>
  <b>Author:</b>
  <%= @issue.user.email %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %> |
<%= link_to 'Destroy', @issue, :confirm => 'Are you sure?', :method => :delete %>
