!!! 5
%html
  %head
    %title
      -require 'faker'
      = (yield(:title) || "Fix the world")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = csrf_meta_tag
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
      
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag 'rails.js'
    = yield :javascripts
  %body.bp.two-col
    #container
      #header
        %h1.logo This is us
        %span.tagline this is very exciting site which will eventually fix the word
        %ul.menu
          %li home
          %li wisz
          %li fizzy-disz
      #content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        - if show_title?
          %h1= yield(:title)
        = yield
      #footer
        -4.times do
          .sections
            %h4= Faker::Lorem.words(2).join(" ")
            %ul
              -(rand(3)+2).times do
                %li= Faker::Lorem.words(1)[0]
        #branding
        #copyrights
