!!! 5
%html
  -require 'faker'
  %head
    -title("Fix the word")
    %title= @content_for_title
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = csrf_meta_tag
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
      
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag 'rails.js'
    = yield :javascripts
  %body.bp.showgrid
    #container
      =debug params
      #header.large.deteached
        -if current_user
          logged in as a #{current_user.name}
          =link_to "logout", signout_url
        -else
          not logged yet
          =link_to "signin", signin_url
          or
          =link_to "signup", signup_url
        %h1.span-14.first#logo 
          %span> Kraków
          %span#sienaprawia< .sie-naprawia
        %ul.span-8.last#menu
          %li.first=link_to 'wishes', '#'
          %li=link_to 'fix sth else', '#'
          %li.last=link_to 'about us', '#'
        %hr
        %span#tagline.large this is very exciting site which will eventually fix the word
      #content.deteached
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}", :class => name
        - if show_title?
          %h1= yield(:title)
        = yield
      #pagination-container.deteached
        = yield(:pagination)
      #footer.deteached
        %div.span-6.first
          %h3.prepend-1= Faker::Lorem.words(2).join(" ")
          %ul
            -3.times do
              %li= Faker::Lorem.words(1)[0]
        -3.times do |i|
          %div{:class=>["span-6", "#{i==2 ? 'last' : ''}"]}
            %h3.prepend-1= Faker::Lorem.words(2).join(" ")
            %ul
              -3.times do
                %li= Faker::Lorem.words(1)[0]
        %hr
        #branding.span-11.push-1.first
          brought to you by amazing team from 
          =link_to "Future Simple", "http://futuresimple.pl"
          %span Przemek
          &amp;
          %span Sebcioz :)
        #links.span-11.last
          - 5.times do |i|
            = link_to Faker::Lorem.words(1)[0], "#"
            = i!=4 ? "|" : ""
        %hr
        #copyrights.span-24
          Copyright © 2009 - #{Time.now.year} All rights reserved
