!!! 5
%html
  %head
    %title
      = (yield(:title) || "Fix the world")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = csrf_meta_tag
    =# stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    =# stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'scaffold.css'
    /[if lt IE 8]
      =# stylesheet_link_tag 'ie.css', :media => 'screen, projection'
      
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    =# javascript_include_tag 'application.js'
    = yield :javascripts
  %body
    #container
      aaa
      -flash.each do |name, msg|
        =content_tag :div, msg, :id => "flash_#{name}"
      -if show_title?
        %h1= yield(:title)
      = yield
